@import './variables.scss';
@import './form.scss';
@import './button.scss';

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: Satisfy;
  src: url('../fonts/Satisfy-Regular.ttf');
}

html, body {
  font-family: 'RobotoLight';
  height: 100% !important;
  width : 100% !important;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100%;
}

.error {
  margin: 20px;
  color: #ff0000;
}