@import './form.scss';

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

html, body {
  font-family: 'Roboto';
  height: 100% !important;
  width : 100% !important;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}
