.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2em;
  height: 80px;
  position: relative;
  .input-span {
    width: 1px;
    position: absolute;
    transition: 0.33s;
    color: #aaa;
  }
  .line {
    transition: 0.33s;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-image: linear-gradient(to right, red 40%, black 94%);
  }
  input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    font-size: 0.8em;
    outline: none;
  }
  .input-value:focus + .input-span{
    color: white;
    font-size: 0.8em;
    transform: translateY(-30px);
  }
  input:focus + label + div{
    width: 100%;
    display: block;
  }
  .active {
    color: white;
    font-size: 0.8em;
    transform: translateY(-45px);
  }
}
.input-small {
  max-width: 100px !important;
}

.input-regular {
  max-width: 250px !important;
}

.input-large {
  max-width: 300px !important;
}