.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  .wrapper {
    width: 100%;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    .logo {
      margin: 20px 0;
      color: #00CEF5;
      font-family: Satisfy;
      font-size: 3em;
    }
    .title {
      display: flex;
      align-items: center;
      align-self: flex-start;
      height: 50px;
      font-size: 1.6em;
      padding-left: 10px;
      justify-content: center;
      border-left: 6px solid #0049FF;
    }
  }
  .input-group {
    width: 100%;
  }
}
@media screen and (min-width: $desktop-width) {
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    background-color: #0C84E8;
  }
  .logo {
    font-size: 4em !important;
  }
  .input-group {
    font-size: 15px;
  }
  .header {
    margin-bottom: 30px !important;
  }
  .login-form {
    background-color: white;
    display: flex;
    .wrapper {
      padding-top: 150px;
      height: 585px;
    }
    justify-content: flex-start;
    width: 500px;
  }
}